body{
    margin: 0;
}
.hero-section{
    background-color: #1f2937;
    height: 400px;
}
.hero{
    display: flex;
    margin: 20px;
    padding: 40px;
    justify-content: space-around;
}
nav ul{
    display: flex;
    list-style: none;
    margin: 0;
}
nav ul li { 
    display: block; 
    padding: 20px; 
    margin: 20px;
   } 
.main-section{
    margin: 60px;
    display: flex;
   justify-content: space-around;
   padding: 60px;

}
.section-one, .section-two, .section-three, .section-four{
    border: 3px #3882f6 solid;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    padding: 30px;
}
.sub-section{
    background-color: #e5e7eb;
    padding: 240px;
}
.sign-up{
    display: flex;
    margin: 120px;
    border-radius: 10px;
    padding: 60px;
    background-color: #3882f6;
    align-items: center;
    justify-content: space-around;
}
.footer{
    background-color: #1f2937;
}